@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
background: whitesmoke;
}
.input {
  width: 100%;
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid lightgrey;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.spins {
  width: 1.6rem;
  height: 1.6rem;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid transparent;
  border-left: 3px solid white;
  border-radius: 50%;
  animation: spins 600ms linear infinite;
}
@keyframes spins {
  to {
    transform: rotate(360deg);
  }
}

.scrolls::-webkit-scrollbar {
  width: 5px;
}
.scrolls::-webkit-scrollbar-thumb {
  width: 5px;
  background: grey;
}

.scrollsdown::-webkit-scrollbar {
  height: 0;
}
.contents {
  white-space: pre-line;
}
.truncate {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}